<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home/doctor's profile</title>
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/common.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/doctors_profile.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="../assets/scripts/doctors_profile.js"></script>

</head>

<body>
    <header>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra_logo">
        </figure>
        <nav>
            <ul>
                <li><a>Doctors</a></li>
                <li><a>Hospitals</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Services</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
        <nav>
            <button class="loginBtn" onclick="window.location.href='signin.html';">Login / Sign Up</button>
            <button class="quoteBtn">Get a Quotes</button>
        </nav>
        <i class="fa fa-bars"></i>
    </header>
    <main>
        <section class="hero">
            <figure>
                <figcaption>
                    <h1>About
                        <%= Name%>
                    </h1>
                    <p>Home / Doctor's Profile</p>
                </figcaption>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png" onerror="this.src='../assets/images/doctor_icon.jpg'" alt="user_image">
            </figure>
        </section>
        <section class="johnNission">
            <div class="col1">
                <figure>
                    <img src="data:<%=picType%>;base64,<%=profilePic.toString('base64')%>" onerror="this.src='../assets/images/doctor_icon.jpg'" alt="user_image">
                </figure>
                <button>Book an appointment</button>
            </div>
            <div class="col2">
                <div class="intro">
                    <h2>
                        <%= Name%>
                    </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, illo ratiione asperiores voluptates a vel eos laboriosam, distinctio sed dolorem, saepe repellendus incidunt, Veritatis nodi harum unde officiis, placeat blanditiis.</p>
                </div>
                <div class="icons"><i class="fas fa-award"></i><span>Specialization</span><i onclick="detail1(this)" class="fa fa-angle-down" id="rightIcon"></i></div>
                <p class="details" id="about1">
                    <%= specialization%>
                </p>
                <div class="icons"><i class="fa fa-stethoscope"></i><span>List Of Treatment</span><i onclick="detail2(this)" class="fa fa-angle-down" id="rightIcon"></i></div>
                <p class="details" id="about2">
                    <%= treatments%>
                </p>
                <div class="icons"><i class="fa fa-hospital-o"></i><span>Word Experience</span><i onclick="detail3(this)" class="fa fa-angle-down" id="rightIcon"></i></div>
                <p class="details" id="about3">
                    <%= experience%>
                </p>
                <div class="icons"><i class="fa fa-star"></i><span>Qualification</span><i onclick="detail4(this)" class="fa fa-angle-down" id="rightIcon"></i></div>
                <p class="details" id="about4">
                    <%= qualification%>
                </p>
                <div class="icons"><i class="fa fa-trophy"></i><span>Awards</span><i onclick="detail5(this)" class="fa fa-angle-down" id="rightIcon"></i></div>
                <p class="details" id="about5">
                    <%= award%>
                </p>
                <div class="icons"><i class="fa fa-map-marker"></i><span>Location</span><i onclick="detail6(this)" class="fa fa-angle-down" id="rightIcon"></i></div>
                <p class="details" id="about6">
                    <%= country%>
                </p>
                <div class="icons"><i class="fa fa-inr"></i><span>Avg Fees</span><i onclick="detail7(this)" class="fa fa-angle-down" id="rightIcon"></i></div>
                <p class="details" id="about7">
                    <%= avgFees%>
                </p>
            </div>
        </section>
        <section class="enquiry">
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you.</p>
            <button>Submit your enquiry</button>
        </section>
    </main>
    <footer>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png
        " alt="tvastra_logo">
        </figure>
        <nav class="sectionNav">
            <ul>
                <li><a>Doctor</a></li>
                <li><a>Hospital</a></li>
                <li><a>Treatment</a></li>
                <li><a>Other Service</a></li>
                <li><a>FAQs</a></li>
            </ul>
        </nav>
        <nav class=socialMedia>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-pinterest"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-google-plus"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </nav>
        <p>All Rights Reserved. &#169 tvastra 2018</p>
    </footer>
</body>

</html>